<el-card class="box-card">
  <!-- 面包屑 -->
  <my-breadcrumb level1="用户管理" level2="用户列表"></my-breadcrumb>

  <!-- 搜索区域 -->
  <el-row class="searchArea">
    <el-col :span="24">
      <!-- 搜索功能
        1. 绑定搜索文本框
        2. 给按钮搜索按钮
       -->
      <el-input v-model="searchValue" class="searchInput" clearable placeholder="请输入内容">
        <el-button @click="handleSearch" slot="append" icon="el-icon-search"></el-button>
      </el-input>
      <el-button @click="addUserDialogVisible = true" type="success" plain>添加用户</el-button>
    </el-col>
  </el-row>

  <!-- 表格 -->
  <el-table
    v-loading="loading"
    stripe
    border
    :data="list"
    style="width: 100%">
    <el-table-column
      type="index"
      width="50">
    </el-table-column>
    <el-table-column
      prop="username"
      label="姓名"
      width="100">
    </el-table-column>
    <el-table-column
      prop="email"
      label="邮箱"
      width="180">
    </el-table-column>
    <el-table-column
      prop="mobile"
      label="电话">
    </el-table-column>
    <el-table-column
      label="创建日期">
      <template slot-scope="scope">
        <!-- 当前行绑定到的数据对象 -- 用户对象 -->
        <!-- {{ scope.row }} -->
        <!-- <hr> -->
        <!-- 当前行的索引 -->
        <!-- {{ scope.$index }} -->
        <!-- <hr> -->
        <!-- 当前列的配置内容 -->
        <!-- {{ scope.column }} -->
        <!-- <hr> -->
        {{ scope.row.create_time | fmtDate('YYYY-MM-DD') }}
      </template>
    </el-table-column>
    <el-table-column
      label="用户状态" width="100">
      <template slot-scope="scope">
        <!-- scope.row 就是当前行绑定的数据对象 -->
        <el-switch
          @change="handleSwitchChange(scope.row)"
          v-model="scope.row.mg_state"
          active-color="#13ce66"
          inactive-color="#ff4949">
        </el-switch>
      </template>
    </el-table-column>
    <el-table-column
      label="操作">
      <template slot-scope="scope">
        <el-button @click="handleShowEditDialog(scope.row)" plain size="mini" type="primary" icon="el-icon-edit" ></el-button>
        <el-button @click="handleDelete(scope.row.id)" plain size="mini" type="danger" icon="el-icon-delete" ></el-button>
        <el-button @click="handleShowSetRoleDialog(scope.row)" plain size="mini" type="success" icon="el-icon-check" ></el-button>
      </template>
    </el-table-column>
  </el-table>

  <!-- @size-change 每页多少条数据发生改变 触发的事件 -->
  <!-- @current-change 当前页码改变发生 -->
  <!-- current-page 当前页码 -->
  <!-- page-sizes 每页多少条数据的下拉框 -->
  <!-- page-size 每页显示多少条数据 -->

  <!-- total  总条数 -->
  <!-- layout 分页所支持的功能 -->
  <!-- 分页 -->
  <el-pagination
    @size-change="handleSizeChange"
    @current-change="handleCurrentChange"
    :current-page="pagenum"
    :page-sizes="[2, 4, 6, 8]"
    :page-size="pagesize"
    layout="total, sizes, prev, pager, next, jumper"
    :total="total">
  </el-pagination>

  <!-- 添加用户的弹出框 -->
  <el-dialog @closed="handleClosed" title="添加用户" :visible.sync="addUserDialogVisible">
    <el-form
      ref="myform"
      :rules="formRules"
      label-width="100px"
      :model="formData">
      <el-form-item label="用户名" prop="username">
        <el-input v-model="formData.username" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input type="password" v-model="formData.password" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="formData.email" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="电话">
        <el-input v-model="formData.mobile" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="addUserDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleAdd">确 定</el-button>
    </div>
  </el-dialog>

  <!-- 修改用户的弹出框 -->
  <el-dialog @closed="handleClosed" title="编辑用户" :visible.sync="editUserDialogVisible">
    <el-form
      ref="myform"
      :rules="formRules"
      label-width="100px"
      :model="formData">
      <el-form-item label="用户名" prop="username">
        <el-input disabled v-model="formData.username" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="formData.email" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="电话">
        <el-input v-model="formData.mobile" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="editUserDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleEdit">确 定</el-button>
    </div>
  </el-dialog>

  <!-- 分配用户角色的弹出框 -->
  <el-dialog title="分配角色" :visible.sync="setRoleDialogVisible">
    <el-form
      label-width="100px">
      <el-form-item label="用户名" prop="username">
        {{ currentUserName }}
      </el-form-item>
      <el-form-item label="角色">
        <el-select v-model="currentRoleId">
          <!-- 注意：下拉框绑定的值的类型，应该跟option的value的值的类型是一致的 -->
          <el-option disabled label="请选择" :value="-1">
          </el-option>
          <el-option
            v-for="item in roles"
            :key="item.id"
            :label="item.roleName"
            :value="item.id">
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="setRoleDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="handleSetRole">确 定</el-button>
    </div>
  </el-dialog>

</el-card>